{% extends 'FinalBase.html' %}
{% load static %}
{% load CustomTemplates %}
{% block title %}
    | Profile
{% endblock %}
{% block Body %}
    <style>
    body{
        width: 1530px;
        height: 500px;
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("{{ BG10 }}");
        background-position: center;
    }
    .tophalf{
        position: relative;
        left: 380px;
        top: 200px;
        width: 790px;
        height: 900px;
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("{{ Pro2 }}");
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 20px #9c9797;
    }
    img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: relative;
        top: -130px;
        left: 270px;
        box-shadow: 0 0 30px black;
    }
    .headers{
        color: black;
        height: 500px;
        width: 250px;
        position: relative;
        top: -50px;
        left: 50px;
        text-align: center;
        border-right: 1px solid black;
    }
    .headers span{
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 80px;
    }
    .answers{
        color: black;
        height: 600px;
        width: 450px;
        position: relative;
        top: -554px;
        left: 350px;
    }
    .answers span {
        font-size: 20px;
        line-height: 80px;
    }
    .ButtonDesign{
        background-color: #e32f2f;
        border-radius: 12px;
        width: 170px;
        transition: 0.2s ease;
        border: none;
        outline: none;
        user-select: none;
    }
    .ButtonDesign:hover{
        transform: scale(1.2);
        color: white;
    }
    </style>

    <div class="tophalf">
        <img src="{{ Profile.Student_ProfilePic.url }}">
        <a href="{% url 'Settings' %}"><button style="height: 50px; position: relative; top: -55px; left: -200px;" class="ButtonDesign">Settings</button></a>
        <a href="{% url 'EditProfile' %}"><button style="position: relative; top: -70px; left: 140px;" class="ButtonDesign">Edit<br>Profile</button></a>
        <h2 style="text-align: center; font-size: 40px;  color: #000000; position: relative; top: -90px;" >{{ Profile.Student_Name }}</h2>
        <div class="headers">
            <span>Email ID:</span>
            <br>

            <span>Year:</span>
            <br>

            <span>Branch:</span>
            <br>

            <span>Roll No:</span>
            <br>

            <span>Contact No:</span>
            <br>

            <span>Address:</span>
            <br>

        </div>
        <div class="answers">
            {% if Profile.Verified == 'True' %}
                <span>{{ Profile.Email }}</span><span class="fa fa-check" style="color: lime; margin-left: 10px;"><span style="margin-left: 5px; color: black; font-family: sans-serif;">Verified</span></span>
                <br>
            {% else %}
                <span>{{ Profile.Email }}</span><a href="{% url 'Settings' %}"><button class="ButtonDesign" style="background-color: dodgerblue; width: 100px; margin-left: 20px; border: none; user-select: none; outline: none;">Verify Email</button></a>
                <br>
            {% endif %}
            <span>{{ Profile.Year }}</span>
            <br>
            <span>{{ Profile.Branch }}</span>
            <br>
            <span>{{ Profile.RollNo }}</span>
            <br>
            <span>{{ Profile.Contact }}</span>
            <br>
            <span style="font-size: 16px; line-height: 30px;  position: relative; top: 25px;">{{ Profile.Address }} </span>
            <br>
        </div>

    </div>

{% endblock %}